altgraph==0.17.4
certifi==2024.2.2
charset-normalizer==3.3.2
cx_Freeze==6.15.16
idna==3.6
imgcompare==2.0.1
importlib_metadata==7.1.0
lxml==4.9.2
macholib==1.16.3
modulegraph==0.19.6
numpy==1.24.4
opencv-python==4.9.0.80
packaging==24.0
pillow==10.2.0
progressbar==2.5
py2app==0.28.7
pyinstaller==6.5.0
pyinstaller-hooks-contrib==2024.3
PyQt6==6.6.1
PyQt6-Qt6==6.6.2
PyQt6_sip==13.6.0
python-pptx==0.6.23
pytube==15.0.0
requests==2.31.0
scipy==1.10.1
urllib3==2.2.1
XlsxWriter==3.2.0
zipp==3.18.1
